# 数据库配置（必须与 MySQL 配置一致）
DB_PASSWORD=EucalAI123@456*
DB_NAME=eucal_ai

# JWT 配置（生产环境建议修改）
JWT_SECRET_KEY=8b0cb941d6ea64bef8756492f1ce32b955b5759b36907dd7f2072b1e493ff8df
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS 配置
ALLOWED_HOSTS=frontend,localhost,127.0.0.1
COOKIE_SECURE=false
COOKIE_SAMESITE=lax

# 其他
DEBUG=false
BACKEND_PORT=8000
SMTP_HOST=smtp.qq.com
SMTP_PORT=587
SMTP_USER=732779870@qq.com
SMTP_PASSWORD=odttfkjqbglobbaf
SMTP_TLS=true
SMTP_FROM=Eucal AI
